.btn{
    &,
    &:link,
    &:visited{
        text-decoration: none;
        text-transform:uppercase;
        padding:1.5rem 4rem;
        display:inline-block;
        border-radius: 5rem;
        font-size:1.6rem;
        border:none;
        cursor:pointer;

    }
    &:active,&:focus{
        transform:translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.15);
    }
    &--blue{
        background-color: #5643fa;
        color:#fff;

        &::after{
            background-color: #5643fa;
        }

    }

    &:hover{
        background-color: #5643fa;
        color:$color-white;
        box-shadow: 0 1rem 2rem rgba($color-black,.15);
        transform: translateY(-2px);
    }
}